html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar {
  background: white;
}

.icon-bar {
  color: black;
}

button {
  margin-top: 10px;
}

img {
  height: 40%;
  width: 40%;
}

section {
  padding: 10%;
  height: 100vh;
}

.our-services {
}

.our_mission {
  background: lightblue;
}

section h2 {
  margin-bottom: 5vh;
}

.our_mission h2 {
  margin-top: 10vh;
}

.our_clients_and_testimonials .logo img {
  /*padding: 1vh;*/
  height: 100px;
  width: 100%;
  border: 1px dashed red;
}

footer {
    margin: 50px 0;
}
